name: validate the code quality of the project

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  GO_VERSION: '1.22.2'
  NODE_VERSION: 'v20.12.1'

jobs:
  lint-validation:
    name: Validate Golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install node
        uses: actions/setup-node@v4
        with: 
          node-version: ${{ env.NODE_VERSION }}
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Run pnpm install
        run: pnpm -C frontend install
      - name: Run pnpm build
        run: pnpm -C frontend build
      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          args: --timeout=240s
  eslint-validation:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install node
        uses: actions/setup-node@v4
        with: 
          node-version: ${{ env.NODE_VERSION }}
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Run pnpm install
        run: pnpm -C frontend install
      - name: Run ESLint
        run: (cd frontend && pnpx eslint .)
        continue-on-error: true
      - name: Run pnpm build
        run: pnpm -C frontend build
  go-test-validation:
    name: go test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Run Go test
        run: go test
  wails-build:
    needs: 
      - eslint-validation
      - lint-validation
    name: build wails
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev
      - name: wails install
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest
      - name: wails build
        run: wails build
